h1,h2,h3 {font-family: 'Denk One', sans-serif;}


@media only screen and (max-width: 500px){
 #teamiconsa {width:60%;
float:right;}

 #teamiconsb {width:60%;
float:left;
}

 .teamdescripta {
  width:40%;
 float:left;
 }
 
 .teamdescriptb {
   width:40%;
 float:right;
 }
}
